@using Oski.Core.Helpers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (OAuthorsPublications)Model.Content;
    var currentPage = (IPublishedContent)ViewBag.CurrentPage;
    var authorId = content.OAuthor;
    var publications = Enumerable.Empty<IPublishedContent>();

    if (authorId != null)
    {
        publications = ContentAuthorHelper.GetAuthorPublications(currentPage, Convert.ToInt32(authorId));
    }
    else
    {
        publications = content.OPublications?.Select(p => UmbracoContext.Content.GetByRoute(p.Url));
    }

    publications = publications.OrderByDescending(publication => publication.CreateDate).Take(content.OPublicationsLimit);
}

<section class="publications">
    <h2 class="publications__title">@content.OTitle</h2>
    <div class="publications__list">
        @foreach (var publication in publications)
        {
            var readTime = 0d;
            var imageUrl = string.Empty;
            var altText = "Publication image";
            switch (publication)
            {
                case OBlogpost blogPost:
                {
                    readTime = CalculationTime.CalculateReadTime(blogPost.OContent.Select(item => item.Content));
                    imageUrl = blogPost.OPreviewImage?.Url();
                    altText = Umbraco.Media(blogPost.OPreviewImage.Id)?.Value("umbracoAltText")?.ToString() ?? "Blog post image";
                    
                    break;
                }
                case BlockGridPage blockGridPage:
                {
                    var gridAreas = blockGridPage.BlogGrid.SelectMany(c => c.Areas).Select(a => a.FirstOrDefault());
                    var gridItem = gridAreas
                        .FirstOrDefault(a => string.Equals(a.Content.ContentType.Alias, nameof(OFullScreenBlockImage), StringComparison.CurrentCultureIgnoreCase) || string.Equals(a.Content.ContentType.Alias, nameof(OBlockImage), StringComparison.CurrentCultureIgnoreCase));

                    if (gridItem is { Content: IOBlockImage image })
                    {
                        imageUrl = image.OImage?.Url();
                        altText = Umbraco.Media(image.OImage.Id)?.Value("umbracoAltText")?.ToString() ?? "Block image";
                    }

                    if (string.IsNullOrEmpty(imageUrl))
                    {
                        var previewBlockContent = blockGridPage.BlogGrid.FirstOrDefault(b => b.Content.ContentType.Alias == OBlogPostPreviewBlock.ModelTypeAlias)?.Content;
                        var blogPostPreviewBlock = previewBlockContent as OBlogPostPreviewBlock;
                        imageUrl = blogPostPreviewBlock?.OPreviewImage?.Url();
                    }
                    readTime = CalculationTime.CalculateReadTime(blockGridPage.BlogGrid);
                    break;
                }
            }

            <a href="@publication.Url()">
                <div class="publication">
                    <div class="publication__image">
                        <img src="@imageUrl" alt="@altText"/>
                    </div>
                    <div class="publication__info">
                        <div style="margin-top: 5%; margin-bottom: 5%">
                            <p class="publication__name">@publication.Name</p>
                        </div>
                        <div class="publication__info__bottom">
                            <p>@readTime min read ·&nbsp</p>
                            <p> @publication.CreateDate.ToString("MMM d, yyyy")</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</section>