@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var image = (OBlockImage)Model.Content;
    var borderRadius = $"{image.OBorderRadius}px";
    var height = image.OHeight == 0 ? 400 : image.OHeight;
    var imageHeight = $"{height}px";
    var width = image.OWidth == 0 ? 400 : image.OWidth;
    var imageWidth = $"{width}px";
    var style = image.OIsCircle ? "circle-image" : "block-image";
    var link = image.OUrl;
    string displayClass = image.ODisplayTarget switch
    {
        "All" => "",
        "MobileOnly" => "mobile-only",
        "DesktopOnly" => "desktop-only",
        _ => "", 
    };
    var altText = @image.OImage?.Name ?? $"{displayClass} block image";
}

<div class="center block-image-container @(displayClass)">
    @if (link != null)
    {
        <a href="@link.Url">
            <div>
                <img src="@image.OImage?.Url()" alt="@altText"
                     class="@style"
                     style="border-radius: @(image.OIsCircle ? string.Empty : borderRadius);
                        max-height: @(image.OIsCircle ? string.Empty : imageHeight);
                        max-width: @(image.OIsCircle ? string.Empty : imageWidth);" />
            </div>
        </a>
    }
    else
    {
        <div>
            <img src="@image.OImage?.Url()" alt="@altText"
                 class="@style"
                 style="border-radius: @(image.OIsCircle ? string.Empty : borderRadius);
                    max-height: @(image.OIsCircle ? string.Empty : imageHeight);
                    max-width: @(image.OIsCircle ? string.Empty : imageWidth);" />
        </div>
    }
</div>