@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (OBlockCardsContainer)Model.Content;
    var cards = content.OCards.Select(block => block.Content).Cast<OCard>();
}

@if (ViewData["name"] != null && ViewData["name"].ToString().Equals("Home"))
{
    <section class="doing oski-pb-3 oski-pt-4">
        <div class="container">
            <div class="doing__inner">
                <h3 class="doing__title section-title">@content.OTitle</h3>
                <div class="doing__block">
                    @foreach (var item in cards)
                    {
                        var image = item.OItemIcon != null ? item.OItemIcon.Url() : String.Empty;
                        var imageAltText = Umbraco.Media(item.OItemIcon?.Id)?.Value("umbracoAltText")?.ToString() ?? "";
                        var orderImage = string.IsNullOrEmpty(item.OImagePosition) || item.OImagePosition == "Image top" ? "" : item.OImagePosition == "right" ? "order: 2;" : "order: 1;";
                        var margginImage = orderImage == "" ? "" : "margin: auto;";
                        <div class="doing__column">
                            <div class="doing__item @(item.OBackgroundColor == "dark" ? "cards__item--dark" : "")" style="flex-direction: @(orderImage == "" ? "column" : "row")">
                                <div class="doing__item-icon">
                                    <img src="@image" alt="@(String.IsNullOrEmpty(imageAltText) ? $"item {cards.IndexOf(item) + 1}" : imageAltText)">
                                </div>
                                <div class="doing__item-info" style="order: @(orderImage.Contains("2") ? "1" : "2")">
                                    <p class="doing__item-title">@item.OTitle</p>
                                    @item.OText
                                    @if (item.OLink != null)
                                    {
                                        <a class="doing__item-link" href="@item.OLink.Url"><span>@item.OLink.Name</span> &rarr;</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
else
{
    string style = "about-page__cards";

    <div class="@style cards">
        @foreach (var item in cards)
        {
            var image = item.OItemIcon != null ? item.OItemIcon.Url() : String.Empty;
            var imageAltText = Umbraco.Media(item.OItemIcon.Id).Value("umbracoAltText").ToString();

            var orderImage = string.IsNullOrEmpty(item.OImagePosition) || item.OImagePosition == "Image top" ? "" : item.OImagePosition == "Right" ? "order: 2;" : "order: 1;";
            var margginImage = orderImage == "" ? "" : "margin: auto 20px;";

            <div class="cards__column">
                <div class="cards__item @(item.OBackgroundColor == "dark"? "cards__item--dark":"")" style="flex-direction: @(orderImage == "" ? "column" : "row");">
                    <div class="cards__item-icon" style="@orderImage; @margginImage">
                        <img src="@image" alt="@(String.IsNullOrEmpty(imageAltText) ? $"item {cards.IndexOf(item) + 1}" : imageAltText)">
                    </div>
                    <div class="cards__item-info" style="order: @(orderImage.Contains("2") ? "1" : "2")">
                        <p class="cards__item-title">@item.OTitle</p>
                        @item.OText
                        @if (item.OLink != null)
                        {
                            <a class="cards__item-link" href="@item.OLink.Url"><span>@item.OLink.Name</span> &rarr;</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}